{%extends 'base.html'%}

{% block content %}


<header>
    <h1 class="cvc"><a href="/" class="headertxt">CvCreator</a></h1>
    <div class="information">
            <span class="resumetemplates"><a href="/" class="headertxt" >Resume templates</a></span>
                <span class="cvtemplates"><a href="/" class="headertxt">CV templates</a></span>
    </div>
</header>
    <div class="heading-bg"></div>
        <div class="heading-bg"></div>
            <div class="container1">  
            <div class="scroll">
                <div class="main-column1">
                    <div class="section">
                        <form action=" " method="POST" class="forma">
                        <div class="resumeobjective">
                            <h3>Resume objective</h3>
                        </div>
                        <br/>
                        <hr>
                    </div>
                <div class="form-info">
                <br/>
                    <div class="description">
                        <p id="p">Description</p>
                    <label for="description"></label>
                        <input type="text" id="description" name="resume_description">
                </div>
                <br/>
                <div class="workexpirence">
                    <h3>Work expirence</h3>
                    <br/>
                    <hr>
                    <br/>
                    <div class="form-group1">
                        <div class="jobtitle">
                            <label for="jobtitle">Job title:</label>
                                <input type="text" id="jobtitle" name="job_title" placeholder="e.g. Sales Manager">
                            </div>
                        <div class="citytown">
                            <label for="citytown">City/Town:</label>
                                <input type="text" id="citytown" name="work_citytown" placeholder="e.g. San Francisco">
                            </div>
                        </div>
                    <div class="form-group2">
                        <label for="employer">Employer:</label>   
                            <input type="text" id="employer" name="employer" placeholder="e.g. PwC">
                    </div>
                    <div class="form-group3">
                        <div class="startdate">
                            <label for="startdate">Start Date:</label>
                                <input type="date" id="startdate" name="work_startdate">
                            </div>
                        <div class="enddate">
                            
                            <label for="enddate">End Date:</label>
                                <input type="date" id="enddate" name="work_enddate">
                            </div>
                        </div>
                        <br/>
                        <p id="p">Description</p>
                        <label for="description"></label>
                            <input type="text" id="description" name="work_description">
                        </div> 
                </div>
                <div class="education">
                    <h3>Education</h3>
                    <br/>
                    <hr>
                    <br/>
                    <div class="form-group1">
                        <div class="degree">
                            <label for="degree">Degree:</label>
                                <input type="text" id="degree" name="degree" placeholder="e.g. Bachelor of Science">
                            </div>
                        <div class="citytown">
                            <label for="citytown">City/Town:</label>
                                <input type="text" id="citytown" name="education_citytown" placeholder="e.g. San francisco">
                            </div>
                        </div>
                    <div class="form-group2">
                        <label for="school">School:</label>   
                            <input type="text" id="school" name="school" placeholder="e.g. New York University">
                    </div>
                    <div class="form-group3">
                        <div class="startdate">
                            <label for="startdate">Start Date:</label>
                                <input type="date" id="startdate" name="education_startdate">
                            </div>
                        <div class="enddate">
                            <label for="enddate">End Date:</label>
                                <input type="date" id="enddate" name="education_enddate">
                            </div>
                        </div>
                        <br/>
                        <p id="p">Description</p>
                        <label for="description"></label>
                            <input type="text" id="description" name="education_description">
                        </div>
                        <div class="interests">
                            <h3>Interest</h3>
                            <br/>
                            <hr>
                            <br/>
                            <div class="form-group2">
                                <label for="hobby">Hobby:</label>   
                                    <input type="text" id="hobby" name="hobby" placeholder="e.g. Producer">
                            </div>
                        </div>
                        <div class="skills">
                            <h3>Skills</h3>
                            <br/>
                            <hr>
                            <br/>
                            <div class="form-group4">
                                <label for="skill">Skill</label>
                                    <input type="text" id="skill" name="skills" placeholder="Enter your skill and your level">
                            </div>
                        </div>
                        </div>
                        <div class="form-button">
                            <button type="submit" class="nextbutton">Next step</button> 
                        </div>
                    </div>

                </div>
            </div>
        </form>
                </div>
            </div>
        </div>
    </div>
</div> 
{% endblock %}
</html>
