
{%extends 'base.html'%}

{% block content %}

    <header>
        <h1 class="cvc">CvCreator</h1>
        <div class="information">
                <span class="resumetemplates">Resume templates</span>
                    <span class="cvtemplates">CV templates</span>
        </div>
    </header>
        <div class="heading-bg"></div>
            <div class="container">  
                <div class="main-column">
                    <div class="section">
                        <div class="personal1"><h2>Personal details</h2>
                            <div class="dropdown">
                                <div class="select">
                                    <span class="selected">Language</span>
                                        <div class="caret"></div>
                                    </div>
                                <ul class="menu">
                                    <li>English</li>
                                            <hr class="hroption">
                                                <li>Serbian</li>
                                                <hr class="hroption">
                                </ul>
                            </div>
                        </div>
                    </div>
                <hr class="personaldetails">
            <div class="form-group">
                <form action="/create" enctype="multipart/form-data" class="forma" method="POST">
                <br/>
                    <label class="picture" for="profilepicture" tabIndex="0">
                        <span class="picture__image"></span>
                    </label>
                    <input type="file" name="profilepicture" id="picture__input">
                        <span id="spnFilePath"></span>
                    <input type="file" id="FileUpload1" style="display:none" />
                        <div class="names">
                    <label for="firstname">First name:</label>
                        <input type="text" id="firstname" name="first_name">
                    <label for="lastname">Last name:</label>
                        <input type="text" id="lastname" name="last_name">
                </div>
                </div>
                
                <div class="form-group1">
                    <div class="emailposition">
                        <label for="email">Email:</label>
                            <input type="text" id="email" name="email">
                        </div>
                    <div class="phoneposition">
                        <label for="phone">Phone number:</label>
                            <input type="text" id="phone" name="phone_number">
                        </div>
                    </div>
                <div class="form-group2">
                    <label for="adress">Adress:</label>   
                        <input type="text" id="adress" name="address">
                </div>
                <div class="form-group1">
                    <div class="zipcode"><label for="zipcode">Zip code:</label>
                        <input type="text" id="zipcode" name="zip_code">
                    </div>
                    <div class="citytown"><label for="citytown">City/Town:</label>
                        <input type="text" id="citytown" name="city" placeholder="e.g. San francisco">
                    </div>
                </div>
                    <div class="form-button">
    
                        <a href="{{url_for('render_history_page')}}"><button  id="submit" type="submit" class="nextbutton" value="create">Next step</button></a>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
</html>