{%extends 'base.html'%}

{%block content%}
<header>
	<h1 class="cvc">CvCreator</h1>
	<div class="information">
			<span class="resumetemplates">Resume templates</span>
				<span class="cvtemplates">CV templates</span>
	</div>
</header>
	<div class="heading-bg"></div>
<div class="container2" >
    <div class="row justify-content-center my-5" ><!--zauzima 5 kolona-->
        <img class="logo" src="">
    </div>
    <div class="row justify-content-center" >
        <div class="col-lg-6 col-xs-12"><!--zauzima 6 kolone lg(large screen) ili 12 kolone za manje ekrane-->
 
            <div class="wrapper">
                <div class="form-container2">
                   <div class="slide-controls">
                      <input type="radio" name="slide" id="login" checked>
                      <input type="radio" name="slide" id="signup">
                      <label for="login" class="slide login">Login</label>
                      <label for="signup" class="slide signup">Register</label>
                      <div class="slider-tab"></div>
                   </div>
                   <div class="form-inner">
            <form action={{url_for('login')}}  method="POST" class="login" >
                <div class="field">
                   <input type="text" name="ime" placeholder="Name" required>
                </div>
                <div class="field">
                   <input type="password" name="lozinka" placeholder="Password" required>
                </div>
                
                <div class="field btn">
                   <div class="btn-layer"></div>
                   <input type="submit" value="Login">
                </div>
                <div class="signup-link">
                	<a href="#">Create new account</a>
                </div>
             </form>


             <form action={{url_for('user_novi')}} method="POST" class="signup">
                <div class="field">
                   <input type="text" name="ime" placeholder="Name" required>
                </div>
                <div class="field">
                   <input type="password" name="lozinka" placeholder="Password" required>
                </div>
                <div class="field btn">
                   <div class="btn-layer"></div>
                   <input type="submit" value="Register">
                </div>
             </form>
            </div>
        </div>
    </div>
        </div>
    </div>
</div>
</div>



{%endblock%}