{%extends 'base.html'%}

{% block content %}


</head>
<body>
    <div class="modern-container">
        <div class="avatar">
            <img src="{{profilepicture_path}}" alt="Profilna slika">
        </div>
        <div class="name">
            <h1>{{info.first_name}} {{info.last_name}}</h1>
            <div class="specialize">
                {{info.job_title}}
            </div>
            <ul class="contact">
                <li>
                    <span>P</span>{{info.phone_number}}
                </li>
                <li>
                    <span>E</span>{{info.email}}
                </li>
            </ul>
        </div>
        <div class="info">
            <ul>
                <li>
                    From <b>{{info.city}}</b> - {{info.zip_code}}
                </li>
                <li>
                    {{ATVSS}} 
                </li>
            </ul>
        </div>
        <div class="intro">
            <h2>HOBBY</h2>
                {{info.hobby}}
        </div>
        <div class="exp">
            <h2>EXPERIENCE</h2>
            <div class="item">
                <h4>{{info.job_title}}</h4>
                <div class="time">
                    <span>
                        {{info.work_startdate}} - {{info.work_enddate}}
                    </span>
                    <span>
                        {{info.employer}}
                    </span>
                </div>
                <div class="des">
                    {{info.work_description}}                
                </div>
            </div>
            <h2 class="skills">Skills</h2>
            <ul>
                <p>{{info.skills}}</p>
            </ul>
        </div>
        <div class="project">
            <h2>EDUCATION</h2>
            <div class="item">
                <h4>{{info.school}}</h4>
                <div class="time">
                    {{info.education_startdate}} - {{info.education_enddate}}
                </div>
                <div class="location">
                    {{info.education_citytown}}
                </div>
                <div class="des">
                    {{info.education_description}}
                </div>
            </div>
            <div class="item">
                <h4 class="itemresume">RESUME</h4>
            
                <div class="des">
                    {{info.resume_description}}
                </div>
            </div>
        </div>
    </div>
</body>
</html>
{% endblock %}