{%extends 'base.html'%}

{% block content %}

<div class="mainTemplateDiv">
    <h1>Pick your desired template</h1>
        <div class="templateparent">

            <div class="templatebox">
                <a href="{{url_for('render_modern_template')}}"><img src="/static/images/modern.png" alt="modern-template"></a>
            </div>

            <div class="templatebox">
                <a href="{{url_for('render_modern_template')}}"><img src="/static/images/modern.png" alt="modern-template"></a>
            </div>

            <div class="templatebox">
                <a href="{{url_for('render_modern_template')}}"><img src="/static/images/modern.png" alt="modern-template"></a>
            </div>

        </div>
   

</div>

</div>
       
{% endblock %}