{%extends 'base.html'%}

{% block content %}
<body class="templateselection">
    
    <header>
        <h1 class="cvc"><a href="/" class="headertxt">CvCreator</a></h1>
        <div class="information">
                <span class="resumetemplates"><a href="/" class="headertxt" >Resume templates</a></span>
                    <span class="cvtemplates"><a href="/" class="headertxt">CV templates</a></span>
        </div>
    </header>
        <div class="heading-bg"></div>
	<div class="heading-bg"></div>
<div class="mainTemplateDiv">
        <div class="templateparent">

            <div class="templatebox">
                <a href="{{url_for('render_modern_template')}}"><img src="/static/images/modern.png" alt="modern-template"></a>
            </div>

            <div class="templatebox">
                <a href="{{url_for('render_modern_template')}}"><img src="/static/images/modern.png" alt="modern-template"></a>
            </div>

            <div class="templatebox">
                <a href="{{url_for('render_modern_template')}}"><img src="/static/images/modern.png" alt="modern-template"></a>
            </div>

        </div>
   

</div>

</div>
</body>
       
{% endblock %}